*, ::after, ::before {
    box-sizing: unset;
}
.drag{
  width: 100%;
  height:200px;
  text-align: center;
  padding-top: calc(100% - 92%);
}
.pointer{
  cursor: pointer;
}
.csscode{
  overflow-y: scroll;
}